FAST_API_HTTPS=
FAST_API_HOST=
FAST_API_PORT=

BULLMQ_REDIS_HOST=
BULLMQ_REDIS_PORT=
BULLMQ_REDIS_PASSWORD=

APPS_PIONERV1_VARS={"PROXY_NUMBERS": "5", "PROXY1": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY1KEY": "123", "PROXY2": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY2KEY": "123","PROXY3": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY3KEY": "123","PROXY4": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY4KEY": "123","PROXY5": "https://vps-b9bb65e6.vps.ovh.ca:5000/api/v1/get_pair_price?key=","PROXY5KEY": "123"}

# Hedger params
HEDGER_FEE = 0.0001
HEDGER_FUNDING_FEE = 0.02
MAX_LEVERAGE = 450
# Pion params
PION_X = "0x20568a84796e6ade0446adfd2d8c4bba2c798c2af0e8375cc3b734f71b17f5fd" ;
PION_PARITY = 0 
PION_PUBLIC_ORACLE_ADDRESS = 0
PION_APPID = 0 


TELEGRAM_BOT_TOKEN=
TELEGRAM_GROUP_ID=